body-page {
    width: auto;
    padding: 0px;
    margin: 0px;
}

/* DASH-BOARD */
/* main div class DashBoard */
.DashBoard {
    position: fixed;
    min-width: 20%;
    background-image: url(./images/dashboard.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-size: 100%;
}
/* btn left-arrow */
#left-arrow {
    position: absolute;
    top: 10px;
    left: 91%;
    font-size: 30px;
    font-weight: 700;
    text-align: center !important;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

#Right-arrow {
    position: absolute;
    top: 10px;
    left: 86%;
    font-size: 30px;
    font-weight: 700;
    text-align: center !important;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

#Right-arrow {
    opacity: 0;
    visibility: hidden;
}


/* ROUTING-CONTENT */
.Routing-content{
    position:static;
    min-width:100%;
    height: 100%;
}